body {
    text-align: center;
}
h1{
    margin: 0;
}
.btn {
    height: 200px;
    width: 200px;
    border:7px solid black;
    border-radius: 20%;
    margin:1rem;
    
}
.line-one {
    display: flex;
    justify-content: center;
    margin-top: -25px;
}
.line-two {
    display: flex;
    justify-content: center;
}
.red{
    background-color: #d95980;
}
.yellow {
    background-color: #f99b45;
}
.green {
    background-color: #63aac0;
}
.purple {
    background-color: #819ff9;
}
.flash {
    background-color: white;
}
h3{
    font-size: 30px;
    margin-top: -5px;
}
